@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
    box-sizing: border-box;
}
*::before,
*::after {
    box-sizing: border-box;
}
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    font-family: inherit;
}

button.big-button {
    padding: 0.5em 1em;
    border:1px solid grey;
    border-radius: 1em;
    background: rgb(16,16,16);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);

    height: 64px;
    background-color: rgb(104, 214, 124);
    color: white;
    width: 80%;

    &.disabled {
        opacity: 0.5;
    }
}
button.big-button.shadow::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC);
    border-radius: inherit;
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.4em 0 0 var(--colorShadeA);
    transform: translate3d(0, 0.75em, -1em);
    transition: all 100ms cubic-bezier(0, 0, 1, 1);
}

button.big-button.animated:hover {
    background: var(--colorShadeD);
    transform: translate(0, 0.375em);
}

button.big-button.animated:hover::before {
    transform: translate3d(0, 0.75em, -1em);
}

button.big-button.animated:active {
    transform: translate(0em, 0.75em);
}

button.big-button.animated:active::before {
    transform: translate3d(0, 0, -1em);

    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}
