.connect-button-grp-new {
  padding: 30px;
  border: 1px solid #262626 !important;
  text-align: center;  
  background-color: #1a1e21 !important;
  border-radius: 8px !important;
  margin-right: 16px;
  color: #fafafa !important;
}

.my-card {
  padding: 8px;
  border: 1px solid #262626 !important;
  text-align: center;
  background-color: #1a1e21 !important;
  border-radius: 4px !important;
  color: #fafafa !important;
  margin-top: 12px;
}

@media (max-width:960px) {
    .connect-button-grp-new{
        width: 100%!important;
    }
}
.connect-btn-grp-text-title {
  font-size: 22px;
  color: #fafafa !important;
}
.connect-btn-grp-text-text-b {
  text-align: left !important;
  font-size: 16px;
  color: #fafafa !important;
  line-height: 25px;
  font-weight: 100;
  margin-top: 30px;
}
.connect-btn-grp-text-text-s-i {
  text-align: left !important;

  font-size: 12px;
  font-style: italic;
  color: rgb(129, 129, 129) !important;
  line-height: 20px;
  font-weight: 100;
}
.connect-btn-grp-text-text-b-c {
  text-align: left !important;
  margin-top: 20px !important;
  font-size: 12px;
  font-style: italic;
  color: rgb(179, 143, 26) !important;
  line-height: 20px;
  font-weight: 100;
}
.connect-btn-new {
  background-color: transparent !important;
  margin-top: 50px;
  margin-bottom: 30px;
}
.ReactModal__Overlay {
  background-color: rgba(36, 35, 35, 0.735) !important;
}
.c-btn-modal-header {
  background-color: black;
  height: 60px;
  border: 1px solid rgb(73, 70, 70);
  margin: 0px !important;
  padding: 10px;
}
.c-btn-modal-close {
  background-color: transparent;
  border: none;
  font-size: 30px;
  margin-top: 2px;
  color: #fafafa !important;
}
.c-modal-text-i {
  font-size: 10px;
  color: grey;
  margin-top: 5px;
}
.c-modal-wallet-logo {
  width: 30px;
  margin-top: 5px;
}
.c-modal-text-b {
  margin-top: 5px;
  font-size: 12px;
  color: #fafafa;
}
.c-modal-wallet-btn {
  padding: 10px 25px;
  background-color: transparent;
  border: none;
  color: #fafafa;
  font-size: 18px;
}
.c-modal-dm-btn {
  border-radius: 30px;
  background-color: transparent;
  border: none;
  color: #fafafa;
  margin-bottom: 10px;

  font-size: 12px;
}
.c-modal-text-uc {
  font-size: 10px;
  color: #737577;
}
.c-btn-modal-footer{
    height: 30px;
    background-color: black;
    margin-top: 308px;
    text-align: right;
    font-size: 10px ;
    color: grey;
    padding-top: 10px;
}
.tokenlist-new{
    max-height: 250px!important;
    /* overflow : scroll; */
    overflow-y: scroll;
    margin-top: 10px!important;
}

.tokenlist-new::-webkit-scrollbar {
  display: none;
}

.card {
  margin-top: 16px;
  border: 1px solid #262626;
  padding: 16px;
  height: 64px;
  border-radius: 16px;
}

.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #000 !important;
}

.selecte-token {  
    border: 1px solid #262626;
    border-radius: 1em;
    background: #101010;
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
    height: 54px;    
    color: #fafafa;
    width: 100%;
}

.rdtPicker{
    min-width: 512px;
    padding: 4px;
    margin-top: 1px;
    z-index: 99999 !important;
    background: #111 !important;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
    border: 1px solid #262626 !important;
    color: #fafafa !important;
    left: 25%;
    min-width: 50% !important;
}

.PrivateTabIndicator-colorSecondary-4 {
  background-color: #68d67c !important;
}

.MuiPaper-root {  
  background-color: #1a1e21 !important;
  color: #fafafa !important;
}

.MuiIconButton-root {
  color: #fafafa !important;
}


.MuiTypography-body1 {
  margin: -24px !important;
}

.MuiAccordionSummary-root.Mui-expanded {  
  padding-left: 40px !important;
}

.MuiAccordionSummary-root {
  padding-left: 40px !important;
  padding-top: 16px !important;
  margin-top: 8px !important;
}

.MuiButton-textPrimary {
  color: #68d67c !important;;
}


button.claim {
  padding: 0.5em 1em;
  border: 1px solid #68d67c;
  border-radius: 12px;
  background: #101010;
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
  height: 48px;    
  color: #68d67c;
}
