input.big-input,
div.rdt > input {      
    border: 1px solid #262626;
    border-radius: 1em;    
    transform-style: preserve-3d;
    outline: none;
    width: 100%;
    padding: 13px;
    color: #fafafa;
    background: #101010;
    font-size: 16px;
    max-width: 500px;

    font-size: 20px;
    max-width: 623px;
    height: 100px;
    margin-top: 12px;
}

div.rdt {
    & > input {
        color: gray;
    }

    .rdtPicker {
        border: 1px solid grey;
        border-radius: 1em;
    }
}
